.form-button {
  display: flex;
  width: 100%;
  padding: 14px 21px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 8px;

  background-color: rgba(0, 113, 255, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
}