@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6eeff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e6eeff;
  }
}

body {
  color: black;
}
